GITHUB_TOKEN=<github-token>
HACKMD_TOKEN=<hackmd-token>
GITHUB_WEBHOOK_SECRET=<github-webhook-secret>

# Cache directory for Docker environment
RID_CACHE_DIR=/data/cache

# Subnet ID for Docker environment
SUBNET_ID=demo-subnet 