GITHUB_TOKEN=<github-token>
HACKMD_TOKEN=<hackmd-token>
GITHUB_WEBHOOK_SECRET=<github-webhook-secret>

# Cache directory for local environment
RID_CACHE_DIR=.koi/cache

# Subnet ID for local environment
SUBNET_ID=demo-subnet 